<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Tickets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin Work</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            User Tickets
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Ticket Id</th>
                        <th scope="col">Status</th>
                        <th scope="col">Work To be done</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
                <tbody id="ticketTableBody">
                    <!-- Existing ticket rows will be inserted here dynamically -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap and JavaScript libraries -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-RgYRjW0CNjQxlf2lFF7wu3zJG8kzPjz/ekIaIl2nZqNrFg8wJn2jwx2Xw5l5Rw5" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></script>

<!-- Custom JavaScript -->
<script>
    // Function to fetch and display tickets
    function getTickeAdmmin() {
        fetch('/user/getTicketAdmin')
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('ticketTableBody');
                tableBody.innerHTML = ''; // Clear existing table rows
                
                data.forEach(item => {
                    const row = `<tr>
                        <td>${item.ticket_id}</td>
                        <td>${item.status}</td>
                        <td>${item.worktobedone}</td>
                        <td>${item.created_at}</td>
                    </tr>`;
                    tableBody.innerHTML += row;
                });
            })
            .catch(error => console.error('Error fetching tickets:', error));
    }

    // Call the function when the page is loaded
    document.addEventListener('DOMContentLoaded', function() {
        getTickeAdmmin(); // Fetch tickets when the page loads
    });
</script>

</body>
</html>
